  <div class="flex">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">&copy;2023 All rights reserved</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="https://twitter.com/abiolaa__">
          <svg class="bi" width="24" height="24">
          <image
                width="24"
                height="24"
                  href="/assets/images/twitter.png"/>
              </svg></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/oluwapelumi-ajuwon-09b07a171/">
          <svg class="bi" width="24" height="24">
            <image
                width="24"
                height="24"
                  href="/assets/images/linkedln.png"/>
          </svg></a></li>
        <li class="ms-3"><a class="text-muted" href="https://github.com/abiolaah?tab=repositories">
          <svg class="bi" width="24" height="24">
            <image
                width="24"
                height="24"
                  href="/assets/images/github.png"/>
          </svg></a></li>
      </ul>
    </footer>
  </div>
