<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
  <main class="container">
    <div class="about">
        <section class="basic">
            <!--<div class="imagesection">-->
                <div class="image">
                    <p><img src="/assets/images/Victoria's Headshot.jpeg" alt="A picture of me" width="600" height="600" class="d-inline-block align-text-bottom"></p>
                </div>
                <div class="content">
                    <div class="contentcard">
                        <i class="fa-solid fa-face-smile"></i>
                        <p>Name: <br>Oluwapelumi V. Ajuwon</p>
                    </div>

                    <hr class="rounded">

                    <div class="contentcard">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Location: <br>Scarborough, Canada</p>
                    </div>

                    <hr class="rounded">

                    <div class="contentcard">
                        <i class="fa fa-envelope"></i>
                        <p>Email Address: <br><a href="mailto:oluwapelumi.ajuwon@gmail.com">oluwapelumi.ajuwon@gmail.com</a></p>
                    </div>

                    <hr class="rounded">
                    
                    <div class="content">
                        <div class="contentcard">
                            <i class="fa-solid fa-eye"></i>
                            <p>Availability: <br>Available to work</p>
                        </div>
                </div>
            </div>
        </section>
        <div class="description">
            <p>Victoria is a motivated, focused and result-oriented individual passionate
                about delivering excellent solution-based products with great user experience.
                I have vast experience in Product Management, Project Management, Research and
                Software Implementation.</p>
                <p>I am looking to transitioning into Software Engineering with a specialization
                in Quality Assurance Engineering/Testing. I am skilled in the use of Node.js,
                Express, MongoDB, Angular, Database concepts, Java programming and C for
                development as well as JMeter for Load Testing, Selenium WebDriver with JAVA
                for UI automation, TestNG, API testing with Postman and Cucumber REST API
                automation as well UI automation.</p>
        </div>
        <div class="resumebutton">
            <a class="btn btn-lg btn-primary" href='/assets/documents/VictoriaResume.pdf' target="_blank" type="application/pdf">View Resume</a>
        </div>
  </main>
    <%-include partials/bottom_nav.ejs%>
    <%-include partials/footer.ejs%>
