<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
  <main class="container">
    <section class="py-5 text-center container" height="800">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">PROJECTS</h1>
          <p class="lead text-muted">Below are some projects I have worked on. Majority of the projects, I worked in the capacity of a product manger. I was tasked to  provide requirements, wireframes and prototype to help acheive the software.</p>
        </div>
      </div>
    </section>
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225">
                <defs>
                  <clipPath id="rectView">
                    <rect width="100%" height="100%" fill="#FFFFFF"/>
                  </clipPath>
                </defs>
                <image
                width="100%"
                height="225"
                  href="/assets/images/ANQpage.jpeg"alt="A picture of me" width="100%" height="225" class="d-inline-block align-text-bottom"
                  clip-path="url(#rectView"
                  />
              </svg>
              <div class="card-body">
                <p class="card-text">ANQ is an All Number Query Platform, that allows user to query a number and provides useful information on the number. I work as a Product Manager for this project. I prepared requirements.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-lg btn-primary" href="https://anq.coure-tech.com/login?returnUrl=%2Findex/" target="_blank">Link</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225">
                <defs>
                  <clipPath id="rectView">
                    <rect width="100%" height="100%" fill="#FFFFFF"/>
                  </clipPath>
                </defs>
                <image
                width="100%"
                height="225"
                  href="/assets/images/HUB.jpeg" alt="A picture of me" width="100%" height="225" class="d-inline-block align-text-bottom"
                  clip-path="url(#rectView"
                  />
              </svg>
              <div class="card-body">
                <p class="card-text">HUB is a VAS Hosting platform for connects VAS providers and VAS Aggregators together and allow each user to manage their resources. I performed the role of profuct manager and tester for this project.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-lg btn-primary" href="https://hub.coure-tech.com/auth/login/" target="_blank">Link</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225">
                <defs>
                  <clipPath id="rectView">
                    <rect width="100%" height="100%" fill="#FFFFFF"/>
                  </clipPath>
                </defs>
                <image
                width="100%"
                height="225"
                  href="/assets/images/PoderLogo.png"alt="A picture of me" width="100%" height="225" class="d-inline-block align-text-bottom"
                  clip-path="url(#rectView"
                  />
              </svg>
              <div class="card-body">
                <p class="card-text">Poder INC Official website. This is ann new project. I will be working in the capacity of the developer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-lg btn-primary" href="">Link</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
    <%-include partials/bottom_nav.ejs%>
    <%-include partials/footer.ejs%>
